<!DOCTYPE html>
<html>
  <head>
    <title><%= title_head %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title_body %></h1>
    <p><%= text %></p>
  </body>
</html>
